body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #mapid { 
  height: 100px;
  background-color: beige; 
}

.leaflet-container {
  width: 100%;
  height: 100
} */

.App {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("./images/pattern-bg.png");
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.address-div {
  display: flex;
  align-items: center;
}
.address-input {
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
  border: none;
  /* min-width: 20vw;
  max-width: 80vw; */
  width: 50vw;
  padding: 1vmin;
  box-sizing: border-box;
  outline: none;
}
button {
  background: grey;
  height: 40px;
  padding: 1vmin;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10vw;
}
.absolute {
  position: absolute;
  top: 0vh;
  z-index: 10;
  /* background: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70vw;
  max-width: 80vw;
}
.info {
  margin-top: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60vw;
}
h1 {
  font-size: 19px;
}
.info h2 {
  font-size: 10px;
  margin: 0;
  color:hsl(0, 0%, 59%);
}
.info p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px
}

@media (min-width: 375px) {
  .address-input {
    width: 30vw;
  }
  button {
    width: 5vw;
  }
  .info {
    flex-direction: row;
    gap: 3vw;
    width: initial;
    padding: 20px;
  }
  .bars {
    height: 30px;
    width: 2px;
    background: rgb(177, 172, 172);
  }
}